<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/application.css" type="text/css">
  </head>
  <body>
    {{>nav}}
    <div id="workspace">
      {{{yield}}}
    </div>
  </body>
</html>
